<h2>Your registration details</h2>
<p>You entered the following information:</p>
<table>
  <tbody>
    <tr>
      <th scope="row">Civility</th>
      <td>{{ model.civility }}</td>
    </tr>
    <tr>
      <th scope="row">Surname</th>
      <td>{{ model.surname }}</td>
    </tr>
    <tr>
      <th scope="row">Name</th>
      <td>{{ model.name }}</td>
    </tr>
    <tr>
      <th scope="row">Address</th>
      <td>{{ model.address }}</td>
    </tr>
    <tr>
      <th scope="row">Postal Code</th>
      <td>{{ model.postalCode }}</td>
    </tr>
    <tr>
      <th scope="row">City</th>
      <td>{{ model.city }}</td>
    </tr>
    <tr>
      <th scope="row">Country</th>
      <td>{{ model.country }}</td>
    </tr>
    <tr>
      <th scope="row">Email</th>
      <td>{{ model.email }}</td>
    </tr>
    <tr>
      <th scope="row">Phone</th>
      <td>{{ model.phone }}</td>
    </tr>
    <tr>
      <th scope="row">Username</th>
      <td>{{ model.username }}</td>
    </tr>
  </tbody>
</table>